{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="position-relative" aria-live="polite" aria-atomic="true">
        <!-- Container per il posizionamento del Toast Bootstrap -->
        <div class="toast-container position-fixed top-1 end-0 p-4">
            {% for category, message in messages %}
            <div class="toast align-items-center text-bg-{{ category }} border-0 fade hide" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        {{ message }}
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endwith %}