<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% include 'includes/head.html' %}
</head>
<body>
    {% include 'includes/navbar.html' %}
    
    <!-- Ho aggiunto un div con classe Bootstrap per un migliore layout -->
    <div class="container mt-4">

        <h1 class="display-4">Benventuti su Sito Film!</h1>
        <p class="lead">Questa è la home page del sito.</p>
        {% if 'username' in session %}
        <!-- Ho riscritto gli URL utilizzando url_for(), che è una buona pratica -->
        <p>Vai alla <a href="{{ url_for('films') }}">pagina dei film</a>;</p>
        <p>oppure <a href="{{ url_for('logout') }}">fai il logout</a></p>
        {% else %}
        <p>Fai il <a href="{{ url_for('login') }}">login</a> per accedere.</p>
        {% endif %}
    
    </div>

</body>
</html>
