<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

        <!-- Area logo/brand -->
        <a class="navbar-brand" href="#">
            <img src="/static/imgs/shortcut-icon.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            Sito Film
        </a>
        
        <!-- Hamburger menu per responsive su mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Voci di menù -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                {% if 'username' in session %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('films') }}">Films</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>