<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h2>Home</h2>
    
    <!-- Mostra i messaggi flash -->
    {% include 'includes/flash.html' %}

    {% if 'user_id' in session %}
        <p>Benvenuto, {{ utente.username }} detto {{ utente.nickname }}!</p>
        <p><a href="{{ url_for('guestbook') }}">Vai al Guestbook</a>.</p>
        <p>Oppure <a href="{{ url_for('logout') }}">fai il Logout</a>.</p>
    {% else %}
        <p>
            Per accedere fai il <a href="{{ url_for('login') }}">Login</a>
            oppure, se non hai un account, fai il <a href="{{ url_for('signup') }}">Sign Up</a>
        </p>
    {% endif %}

</body>

</html>