<!DOCTYPE html>
<html>
<head>
    <title>Lista range numeri</title>
    {% include 'template_head.html' %}
</head>
<body>
    <div class="container mt-3">
        <h1>Lista range numeri</h1>
        <form method="post">
            <div class="row g-3 mb-3">
                <div class="col">
                    <div class="input-group">
                        <label for="start" class="input-group-text">Start</label>
                        <input type="number" class="form-control" id="start" name="start" value="{{ start }}">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <label for="stop" class="input-group-text">Stop</label>
                        <input type="number" class="form-control" id="stop" name="stop" value="{{ stop }}">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Genera lista</button>
        </form>
        <ul class="mt-3">
            {% for number in number_list %}
            <li>{{ number }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
