<footer class="bg-dark text-white text-center py-3 mt-auto">
    <div class="container">
        <p>&copy; 2024 Sito Film. Some rights reserved.</p>
        <p>
            via Roma 100, Qualche Città, 12345, XY<br>
            Phone: (+39) 123.4567.890 | Email: info@sitofilm.com
        </p>
    </div>
</footer>

<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
</script>

<!-- Custom JavaScript -->
<script src="{{ url_for('static', filename='script.js') }}"></script>
